/* global properties */
body, html {
  color: white;
  font-family: 'Alata', sans-serif;
  font-size: 15px;
  padding: 0;
  margin: 0;
}

h1, h2, button, .menu-links {
  font-family: 'Josefin Sans', sans-serif;
  text-decoration: none;
  text-transform: uppercase;
}

:root {
  --primary: rgba(36, 36, 36, 0.5);
  --secondary: rgba(36, 36, 36, 0);
}

/* Header */
header {
  background-image: url(images/desktop/image-hero.jpg);
  background-size: cover;
  background-position: center;
  padding: 0 2em;
}

h1 {
  border: 2.5px solid white;
  font-size: 2.5em;
  padding: 0.75em 2em 0.75em 0.75em;
}

.hero {
  padding: 15em 0;
}

/* navigation bar */
.close-icon {
  display: none;
}

.hamburger {
  position: fixed;
  top: 3em;
  right: 2em;
  cursor: pointer;
  height: 2em;
  width: 2em;
  z-index: 2;
}

.main-logo {
  position: absolute;
  top: 3em;
}

.logo {
  width: 10rem;
}

.wrapper {
  background: black;
  height: 100%;
  width: 100%;
  left: 0;
  right: 0;
  position: fixed;
  transform: translateY(-100%);
  transition: transform 0.2s;
  z-index: 1;
}

.menu {
  display: grid;
  grid-template-rows: repeat(5, 80px);
  padding: 1em;
  justify-content: start;
}

.menu-links {
  color: white;
  font-size: 2em;
  margin: 2em 1em;
}

.menu-logo {
  padding-top: 2em;
  padding-left: 2em;
}

.show-menu {
  transform: translateY(0);
}

/* Main Content */
main {
  background: white;
  padding: 3em 0;
}

  /* Brand Info */
h2 {
  color: hsl(0, 0%, 41%);
  font-size: 2em;
  text-align: center;
}

.brand {
  padding: 6em 2em 0;
  text-align: center;
}

.brand-info {
  padding: 1em;
}

.brand-pg {
  color: hsl(0, 0%, 55%);
  line-height: 2;
}

.interactivity {
  width: 100%;
  padding-bottom: 1.5em;
}

  /* Gallery */
button {
  background-color: white;
  border: 1.5px solid black;
  font-size: 0.9em;
  font-weight: bold;
  margin: 25px auto;
  padding: 0.75em 3em;
  position: absolute;
}

.gallery {
  padding: 3em 2em;
}

.grid {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(8, 120px);
  text-transform: uppercase;
  row-gap: 30px;
}

.item {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.5em;
  position: relative;
  top: 1.5em;
  left: 1em;
  width: 40%;
}

.deep-earth {
  background: linear-gradient(to right, var(--primary), var(--secondary)),
    url(images/desktop/image-deep-earth.jpg) no-repeat 60% 70% / cover;
}

.night-arcade {
  background: linear-gradient(to right, var(--primary), var(--secondary)),
    url(images/desktop/image-night-arcade.jpg) repeat 97% 45% / cover;
}

.soccor-vr {
  background: linear-gradient(to right, var(--primary), var(--secondary)),
    url(images/desktop/image-soccer-team.jpg) no-repeat 0 8% / cover;
}

.the-grid {
  background: linear-gradient(to right, var(--primary), var(--secondary)),
    url(images/desktop/image-grid.jpg) no-repeat 0 40% / cover;
}

.the-grid p {
  top: 2.5em;
}

.above-vr {
  background: linear-gradient(to right, var(--primary), var(--secondary)),
    url(images/desktop/image-from-above.jpg) no-repeat 0 20% / cover;
}

.pocket-borealis {
  background: linear-gradient(to right, var(--primary), var(--secondary)),
    url(images/desktop/image-pocket-borealis.jpg) no-repeat 0 30% / cover;
}

.curiosity {
  background: linear-gradient(to right, var(--primary), var(--secondary)),
    url(images/desktop/image-curiosity.jpg) no-repeat 0 10% / cover;
}

.fisheye {
  background: linear-gradient(to right, var(--primary), var(--secondary)),
    url(images/desktop/image-fisheye.jpg) no-repeat 0 75% / cover;
}

.seeall {
  display: flex;
  justify-content: center;
}

/* footer */
footer {
  background: black;
  text-align: center;
  padding: 4em 0;
}

.footer-logo, .additional-info {
  padding-bottom: 2em;
}

.copyright {
  color: hsl(0, 0%, 41%)
}

.contacts img {
  padding: 0 0.5rem;
}

.attribution {
  color: black;
}

/* Desktop Layout */
@media (min-width: 1440px) {
  /* Header */
  h1 {
    font-size: 4em;
    padding-right: 0;
    width: 50%;
  }

  .hero {
    padding: 13em 9em 8em;
  }

  .main-logo {
    left: 10em;
  }

  /* navigation bar */
  .hamburger, .menu-logo, .show-menu {
    display: none;
  }

  .wrapper {
    background: none;
    position: absolute;
    transform: translateY(0);
    transition: none;
    top: 4em;
  }

  .menu {
    display: flex;
    flex-direction: row;
    position: absolute;
    left: 60em;
    bottom: 45em;
  }

  .menu-links {
    font-family: 'Alata', sans-serif;
    font-size: 0.9rem;
    text-transform: none;
  }

/* Main content */
  /* Brand Info*/
  h2 {
    font-size: 2.5em;
    text-align: left;
  }

  .brand {
    padding: 6em 10em;
    text-align: left;
  }

  .interactivity {
    width: 60%;
  }

  .brand-info {
    background: white;
    bottom: 20em;
    height: 300px;
    left: 35em;
    padding: 3em 4em;
    position: relative;
    width: 40%;
    z-index: 1;
  }

  /* Gallery */
  button {
    height: 30px;
    width: 10%;
    top: 109em;
    left: 81em;
    text-align: center;
  }
  .gallery {
    padding: 0 11.5em;
    margin-top: -18em;
  }

  .grid {
    grid-gap: 30px;
    grid-template-columns: repeat(4, 250px);
    grid-template-rows: 350px 350px;
    padding: 1em 0 5em;
    justify-content: center;
  }

  .item, .the-grid p {
    top: 11.5em;
    width: 50%;
  }

/* Footer */
  footer {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    padding: 6em 10em 1em;
    text-align: left;
    justify-content: space-between;
  }

  .additional-info {
    display: flex;
    flex-direction: row;
    order: 3;
  }

  .additional-info > p {
    padding-right: 2em;
  }

  .contacts {
    text-align: right;
    order: 2;
  }

  .copyright {
    order: 4;
  }

}
